/* Global Elements */
{
	margin: 0;
	padding: 0;
}

header, footer, section, aside, nav, article {
	display: block;
}

body {
	/* TODO: Set a background */
	margin: 0 auto;
	width: 940px;
	font: 13px/22px Calibri, Helvetica, Verdana, sans-serif;
	background: #f0f0f0;
	padding: 22px 0;
}

h1 {
	color: #009ddc;
}

h2 {
	font-size: 28px;  
	line-height: 44px;  
	padding: 22px 0;
}

h3 {  
    font-size: 18px;  
    line-height: 22px;  
    padding: 11px 0;  
}  
  
p {  
    padding-bottom: 22px;  
}

/* table {
	border-collapse: collapse;
	border: 1px solid #333;
}

table th, table td {
	padding: 0.5em;
	border: 1px dotted #666;
	color: #191970;
}

table th {
  	border-bottom: 2px solid #333;
  	border-right: 2px solid #333;
	color: #fff; 
	background-color: #191970;
} */

/* table tr:hover td {
	background-color: #191970;
	color: #fff;
} */

/* table caption {
  	caption-side: bottom;
  	font-size: 0.9em;
  	font-style: italic;
  	text-align: right;
  	padding: 0.5em 0;
} */

a {
	text-decoration: none;
	color: #009ddc;
}

a:hover {
	text-decoration: underline;
	color: navy;
}

nav {  
    position: absolute;  
    left: 0;  
    width: 100%;  
    background: url("/bluesun/images/nav_background.png");  
}

nav ul {  
    margin: 0 auto;  
    width: 940px;  
    list-style: none;  
}

nav ul li {  
    float: left; 
}  
  
    nav ul li a {  
        display: block;  
        margin-right: 20px;  
        width: 140px;  
        font-size: 14px;  
        line-height: 44px;  
        text-align: center;  
        text-decoration: none;  
        color: #999;  
    }  
  
        nav ul li a:hover {  
            color: #fff;
			text-decoration: none;
        }  
  
        nav ul li.selected a {  
            color: #fff;  
        }  
  
        nav ul li.subscribe a {  
            margin-left: 22px;  
            padding-left: 33px;  
            text-align: left;  
            background: url("rss.png") left center no-repeat;  
		}

#intro {
	position: relative;
	margin-top: 66px;
	padding: 44px;
	/* background: #467612 url("images/intro_background.png") repeat-x; */
	background-color: #000;
	
	/* Background-size not implemented yet */
	-webkit-background-size: 100%;
	-o-background-size: 100%;
	-khtml-background-size: 100%;

	
	/* Border-radius not implemented yet */
	-moz-border-radius: 22px;
	-webkit-border-radius: 22px;
}

	#intro h2, #intro p {
		position: relative;
		z-index: 9999;
		width: 336px;
	}
	
	#intro h2 {
		padding: 0 0 22px 0;
		font-weight: normal;
		color: #fff;
	}
	
	#intro p {
		padding: 0;
		color: #d9f499;
	}
	
	#intro img {
		position: absolute;
		top: 0;
		right: 0;
		/* width: 653px; */
		height: 100%;
		/* Border-radius not implemented yet */
		-moz-border-radius: 22px;
		-webkit-border-radius: 22px;
	}

#content {  
    display: table;  
}  

    #mainContent {  
        display: table-cell;  
        width: 620px;  
        padding-right: 22px;  
    }  

    aside {  
        display: table-cell;  
        width: 300px;  
    }

footer .disclaimer {
	font-style: italic;
}

/* Custom Elements */

#user_info {
	text-align: right;
	margin-bottom: 10px;
	float: right;
}

#user_info .user_email {
	font-size: small;
}

.nav_section {
	font-weight: bold;
	font-size: small;
}

.search_box {
	display: inline;
	padding-top: 6px;
	padding-left: 5px;
	padding-right: 5px;
}

.search_field {
    width: 150px;
}

#search_menu {
	display: inline-block;
	float: left;
	padding-top: 10px;
}

.nav_section:hover {
	/* TODO: Color the selected nav item */
}

.nav_section a {
	color: #555;
}

.nav_section a:hover {
	text-decoration: underline;
	/* color: #009ddc; */
}

#hash {
	font-family: 'Andale Mono', 'Courier New', 'Terminal', monospace;
	font-size: small;
	color: #aaa;
}

img.links {
	width: 24px;
}

.search_logo {
	display: inline;
	width: 16px;
}

.action_download {
	float: left;
}

.info_label {
	font-weight: bold;
}