<h1 class="torrent_title">Available Torrents</h1>

<%= render 'torrents' %>

<div id="page_links">
  <span class="page_link">Create a <%= action_link :new, new_torrent_path, :text => 'New Torrent' %></span>
</div>
